<!DOCTYPE html>
{% load static %}
{% load post_tags %}
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>All Posts - Benion-Tech</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
    <link href="https://firebasestorage.googleapis.com/v0/b/benion-database.appspot.com/o/Benion%20Tech%2Fbenion-tech-favicon.png?alt=media&token=347c185c-d183-4fce-b1dc-dc030a06d24a" rel="icon">
    <link href="https://firebasestorage.googleapis.com/v0/b/benion-database.appspot.com/o/Benion%20Tech%2Fbenion-tech-icon.png?alt=media&token=706a0c87-754b-4125-8144-868e5e7cc152" rel="benion-tech-icon">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500&family=Inter:wght@400;500&family=Playfair+Display:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/aos/aos.css' %}" rel="stylesheet">

  <!-- Template Main CSS Files -->
  <link href="{% static 'assets/css/variables-zen-blog.css' %}" rel="stylesheet">
  <link href="{% static 'assets/css/main-zen-blog.css' %}" rel="stylesheet">

</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header d-flex bg-success align-items-center fixed-top">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

      <a href="/" class="logo d-flex align-items-center">
        <h1 class="me-auto me-lg-0 text-warning">Benion-Tech <span class="p-3"> </span></h1>
        <!-- Uncomment the line below if you also wish to use an image logo -->
         <img src="https://firebasestorage.googleapis.com/v0/b/benion-database.appspot.com/o/Benion%20Tech%2Fbenion-tech-logo.png?alt=media&token=4f1d2f0f-6124-44ed-b0de-9fb513379d03" alt="" class="img-fluid">

      </a>

      <nav id="navbar" class="navbar">
        <ul class="bg-success">
          <li class="active"><a class="text-light" href="/">Home</a></li>
          {% if user.is_authenticated %}
            <li><a class="text-light" href="/user/dashboard">Dashboard</a></li>
          {% endif %}
          <li class="dropdown"><a class="text-light" href="#"><span>Categories</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
            <ul class="bg-success">
              {% for category in categories %}
                <li><a class="text-light" href="/posts/category/{{ category.value }}">{{ category.name }}</a></li>
              {% endfor %}
            </ul>
          </li>

          <li><a class="text-light" href="/about">About</a></li>
          <li><a class="text-light" href="/contact">Contact</a></li>
          {% if user.is_authenticated %}
            <li><a class="text-warning" href="/logout">Logout</a></li>
          {% else %}
            <li><a class="text-warning" href="/register">Register</a></li>
            <li><a class="text-warning" href="/login">Login</a></li>
          {% endif %}
        </ul>
      </nav><!-- .navbar -->

      <div class="position-relative">
        <a href="https://facebook.com/biorver.7" class="mx-2 text-warning"><span class="bi-facebook"></span></a>
        <a href="https://twitter.com/benion28" class="mx-2 text-warning"><span class="bi-twitter"></span></a>
        <a href="https://instagram.com/biorver_benion28" class="mx-2 text-warning"><span class="bi-instagram"></span></a>

        <a href="#" class="mx-2 js-search-open text-warning"><span class="bi-search"></span></a>
        <i class="bi bi-list mobile-nav-toggle text-light"></i>

        <!-- ======= Search Form ======= -->
        <div class="search-form-wrap js-search-form-wrap">
          <form action="/posts/tag/" method="post" class="search-form">
            {% csrf_token %}
            <span class="icon bi-search"></span>
            <input type="text" name="keyword" placeholder="Search" class="form-control">
            <button class="btn js-search-close"><span class="bi-x"></span></button>
            <input type="submit" class="form-control bg-warning text-success">
          </form>
        </div><!-- End Search Form -->

      </div>

    </div>

  </header><!-- End Header -->

  <main id="main">

    <!-- ======= Search Results ======= -->
    <section id="search-result" class="search-result">
      <div class="container">
        <div class="row">
          <div class="col-md-9">
            {% for post in posts %}
              <div class="d-md-flex post-entry-2 small-img">
                <a href="/post/{{ post.title }}" class="me-4 thumbnail">
                  <img src="{{ post.image }}" alt="" class="img-fluid">
                </a>
                <div>
                  <div class="post-meta"><span class="date">{{ post.tag }}</span> <span class="mx-1">&bullet;</span> <span>{{ post.date }}</span></div>
                  <h3><a href="/post/{{ post.title }}">{{ post.title }}</a></h3>
                  <p>{{ post.content | truncate_text }}</p>
                  <div class="d-flex align-items-center author">
                    <div class="photo"><img src="{{ post.creator | get_profile }}" alt="" class="img-fluid"></div>
                    <div class="name">
                      <h3 class="m-0 p-0">{{ post.creator | get_name }}</h3>
                    </div>
                  </div>
                </div>
              </div>
            {% endfor %}

            <!-- Paging -->
            <div class="text-start py-4">
              <div class="custom-pagination">
                <a href="#" class="prev">Prevous</a>
                <a href="#" class="active">1</a>
                <a href="#">2</a>
                <a href="#">3</a>
                <a href="#">4</a>
                <a href="#">5</a>
                <a href="#" class="next">Next </a>
              </div>
              <div class="text-start py-4">
                <p class="text-center"><b>There are a total of <span class="text-success"> ({{ total }}) </span> Posts available at the moment</b></p>
              </div>
            </div><!-- End Paging -->

          </div>

          <div class="col-md-3">
            <!-- ======= Sidebar ======= -->
            <div class="aside-block">

              <ul class="nav nav-pills custom-tab-nav mb-4" id="pills-tab" role="tablist">
                <li class="nav-item" role="presentation">
                  <button class="nav-link active" id="pills-popular-tab" data-bs-toggle="pill" data-bs-target="#pills-popular" type="button" role="tab" aria-controls="pills-popular" aria-selected="true">News</button>
                </li>
                <li class="nav-item" role="presentation">
                  <button class="nav-link" id="pills-trending-tab" data-bs-toggle="pill" data-bs-target="#pills-trending" type="button" role="tab" aria-controls="pills-trending" aria-selected="false">Blog</button>
                </li>
                <li class="nav-item" role="presentation">
                  <button class="nav-link" id="pills-latest-tab" data-bs-toggle="pill" data-bs-target="#pills-latest" type="button" role="tab" aria-controls="pills-latest" aria-selected="false">Others</button>
                </li>
              </ul>

              <div class="tab-content" id="pills-tabContent">

                <!-- News -->
                <div class="tab-pane fade show active" id="pills-popular" role="tabpanel" aria-labelledby="pills-popular-tab">
                  {% for post in news %}
                    <div class="post-entry-1 border-bottom">
                      <div class="post-meta"><span class="date">{{ post.tag }}</span> <span class="mx-1">&bullet;</span> <span>{{ post.date }}</span></div>
                      <h2 class="mb-2"><a href="/post/{{ post.title }}">{{ post.title }}</a></h2>
                      <span class="author mb-3 d-block">{{ post.creator | get_name }}</span>
                    </div>
                  {% endfor %}
                </div> <!-- End News -->

                <!-- Blog -->
                <div class="tab-pane fade" id="pills-trending" role="tabpanel" aria-labelledby="pills-trending-tab">
                  {% for post in blog %}
                    <div class="post-entry-1 border-bottom">
                      <div class="post-meta"><span class="date">{{ post.tag }}</span> <span class="mx-1">&bullet;</span> <span>{{ post.date }}</span></div>
                      <h2 class="mb-2"><a href="/post/{{ post.title }}">{{ post.title }}</a></h2>
                      <span class="author mb-3 d-block">{{ post.creator | get_name }}</span>
                    </div>
                  {% endfor %}
                </div> <!-- End Blog -->

                <!-- Others -->
                <div class="tab-pane fade" id="pills-latest" role="tabpanel" aria-labelledby="pills-latest-tab">
                  {% for post in others %}
                    <div class="post-entry-1 border-bottom">
                      <div class="post-meta"><span class="date">{{ post.tag }}</span> <span class="mx-1">&bullet;</span> <span>{{ post.date }}</span></div>
                      <h2 class="mb-2"><a href="/post/{{ post.title }}">{{ post.title }}</a></h2>
                      <span class="author mb-3 d-block">{{ post.creator | get_name }}</span>
                    </div>
                  {% endfor %}
                </div> <!-- End Others -->

                <p class="text-center"><a href="/posts" class="footer-link-more"><b><i>Show More....</i></b></a></p>
                <hr>

              </div>
            </div>

            <div class="aside-block">
              <h3 class="aside-title">Video</h3>
              <div class="video-post">
                <a href="https://www.youtube.com/watch?v=Lwbe0KcEq4A&t=1s" class="glightbox link-video">
                  <span class="bi-play-fill"></span>
                  <img src="https://firebasestorage.googleapis.com/v0/b/benion-database.appspot.com/o/Benion%20Tech%2Fbg.jpg?alt=media&token=ab56c202-76d0-4ab0-be2f-6cdcfac5bb78" alt="" class="img-fluid">
                </a>
              </div>
            </div><!-- End Video -->

            <div class="aside-block">
              <h3 class="aside-title">Categories</h3>
              <ul class="aside-links list-unstyled">
                {% for category in categories %}
                  <li><a href="/posts/category/{{ category.value }}"><i class="bi bi-chevron-right"></i>{{ category.name }}</a></li>
                {% endfor %}
              </ul>
            </div><!-- End Categories -->

            <div class="aside-block">
              <h3 class="aside-title">Tags</h3>
              <ul class="aside-tags list-unstyled">
                {% for category in categories %}
                  <li><a href="/posts/tag/{{ category.value }}">{{ category.name }}</a></li>
                {% endfor %}
              </ul>
            </div><!-- End Tags -->

          </div>

        </div>
      </div>
    </section> <!-- End Search Result -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">

    <div class="footer-content">
      <div class="container">

        <div class="row g-5">
          <div class="col-lg-4">
            <h3 class="footer-heading">About Bernard Iorver</h3>
            <p>
              An innovative tech mind with 5 years of experience working as a computer programmer.
              Capable of working with a variety of technology and software solutions, and graphic designs.
              Valuable team member who has experience diagnosing problems and developing solutions.
              Talented leader with unique ideas and a history of successful contributions in the field.
            </p>
            <p><a href="/about" class="footer-link-more">Learn More</a></p>
          </div>
          <div class="col-6 col-lg-2">
            <h3 class="footer-heading">Navigation</h3>
            <ul class="footer-links list-unstyled">
              <li><a href="/"><i class="bi bi-chevron-right"></i> Home</a></li>
              {% if user.is_authenticated %}
                <li><a href="/user/dashboard"><i class="bi bi-chevron-right"></i> Dashboard</a></li>
              {% endif %}
              <li><a href="/posts"><i class="bi bi-chevron-right"></i> All Posts</a></li>
                <li><a href="/portfolio"><i class="bi bi-chevron-right"></i> Portfolio</a></li>
                <li><a href="/resume"><i class="bi bi-chevron-right"></i> Resume</a></li>
              <li><a href="/about"><i class="bi bi-chevron-right"></i> About us</a></li>
              <li><a href="/contact"><i class="bi bi-chevron-right"></i> Contact</a></li>
            </ul>
          </div>
          <div class="col-6 col-lg-2">
            <h3 class="footer-heading">Categories</h3>
            <ul class="footer-links list-unstyled">
              {% for category in categories %}
                <li><a href="/posts/category/{{ category.value }}"><i class="bi bi-chevron-right"></i>{{ category.name }}</a></li>
              {% endfor %}
            </ul>
          </div>

          <div class="col-lg-4">
            <h3 class="footer-heading">Recent Posts</h3>

            <ul class="footer-links footer-blog-entry list-unstyled">
              {% for post in other_posts %}
                <li>
                  <a href="/post/{{ post.title }}" class="d-flex align-items-center">
                    <img src="{{ post.image }}" alt="" class="img-fluid me-3">
                    <div>
                      <div class="post-meta d-block"><span class="date">{{ post.tag }}</span> <span class="mx-1">&bullet;</span> <span>{{ post.date }}</span></div>
                      <span>{{ post.title }}</span>
                    </div>
                  </a>
                </li>
              {% endfor %}

            </ul>

          </div>
        </div>
      </div>
    </div>

    <div class="footer-legal bg-success">
      <div class="container">

        <div class="row justify-content-between">
          <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
            <div class="copyright text-light text-center">
              &copy; Copyright <strong><span><b>Benion-Tech</b></span></strong>. All Rights Reserved
            </div>

          </div>

          <div class="col-md-6">
            <div class="social-links mb-3 mb-lg-0 text-center text-md-end">
              <a href="https://twitter.com/benion28" class="twitter"><i class="bi bi-twitter"></i></a>
              <a href="https://facebook.com/biorver.7" class="facebook"><i class="bi bi-facebook"></i></a>
              <a href="https://instagram.com/biorver_benion28" class="instagram"><i class="bi bi-instagram"></i></a>
              <a href="https://github.com/benion28" class="google-plus"><i class="bi bi-github"></i></a>
              <a href="https://linkedin.com/benion28" class="linkedin"><i class="bi bi-linkedin"></i></a>
            </div>

          </div>

        </div>

      </div>
    </div>

  </footer>

  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'assets/vendor/aos/aos.js' %}"></script>
  <script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>

  <!-- Google tag (gtag.js) -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-48PG2T94RJ"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'G-48PG2T94RJ');
	</script>

  <!-- Template Main JS File -->
  <script src="{% static 'assets/js/main-zen-blog.js' %}"></script>

</body>

</html>