<!DOCTYPE html>
{% load static %}
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Portfolio Details - Benion-Tech</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
   <link href="https://firebasestorage.googleapis.com/v0/b/benion-database.appspot.com/o/Benion%20Tech%2Fbenion-tech-favicon.png?alt=media&token=347c185c-d183-4fce-b1dc-dc030a06d24a" rel="icon">
    <link href="https://firebasestorage.googleapis.com/v0/b/benion-database.appspot.com/o/Benion%20Tech%2Fbenion-tech-icon.png?alt=media&token=706a0c87-754b-4125-8144-868e5e7cc152" rel="benion-tech-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="{% static 'assets/vendor/aos/aos.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="{% static 'assets/css/style-kelly.css' %}" rel="stylesheet">

  </head>

  <body>

    <main id="main">

      <!-- ======= Portfolio Details Section ======= -->
      <section id="portfolio-details" class="portfolio-details">
        <div class="container">

          <div class="row gy-4">

            <div class="col-lg-8">
              <div class="portfolio-details-slider swiper">
                <div class="swiper-wrapper align-items-center">

                  {% for image in work_images %}
                    <div class="swiper-slide">
                      <a href="/portfolio/details/{{ image.id }}">
                        <img src="{{ image.image }}" alt="">
                      </a>
                    </div>
                  {% endfor %}

                </div>
                <div class="swiper-pagination"></div>
              </div>
            </div>

            <div class="col-lg-4">
              <div class="portfolio-info">
                <h3>Project information</h3>
                <ul>
                  <li><strong>Category</strong>: {{ image.category }}</li>
                  <li><strong>Name</strong>: {{ image.caption }}</li>
                  <li><strong>Tag</strong>: {{ image.tag }}</li>
                  <li><strong>Project URL</strong>: <a href="{{ image.link }}">{{ image.link }}</a></li>
                </ul>
                <div class="col-12">
                  <p class="small mb-0"><b>Return Back <a href="/portfolio"> to the portfolio</a> page</b></p>
                </div>
              </div>
              <div class="portfolio-description">
                <h2>A project built with {{ image.tag }} framework</h2>
                <p>
                  This project was built using the {{ image.tag }} framework with a combination of HTML, CSS and SCSS.
                </p>
              </div>
            </div>

          </div>

        </div>
      </section><!-- End Portfolio Details Section -->

    </main><!-- End #main -->

    <div id="preloader"></div>
    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <!-- Vendor JS Files -->
    <script src="{% static 'assets/vendor/purecounter/purecounter_vanilla.js' %}"></script>
    <script src="{% static 'assets/vendor/aos/aos.js' %}"></script>
    <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
    <script src="{% static 'assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
    <script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
    <script src="{% static 'assets/vendor/waypoints/noframework.waypoints.js' %}"></script>
    <script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>
	
	<!-- Google tag (gtag.js) -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-48PG2T94RJ"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'G-48PG2T94RJ');
	</script>

    <!-- Template Main JS File -->
    <script src="{% static 'assets/js/main-kelly.js' %}"></script>

  </body>

</html>